<div class="p-4 rounded-lg bg-white w-full text-black">
  <h3 class="font-bold text-3xl mb-2">Wisconsin's Representatives</h3>

  <div class="grid grid-cols-4 gap-2">
    <div
      class="rounded-lg bg-[url(/headshots/BryanSteil.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Bryan Steil</h4>
        <p class="text-sm">R-WI-1 (since 2019)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/MarkPocan.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-blue-700/0 to-blue-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Mark Pocan</h4>
        <p class="text-sm">D-WI-2 (since 2013)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/DerrickVanOrden.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Derrick Van Orden</h4>
        <p class="text-sm">R-WI-3 (since 2023)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/GwenMoore.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-blue-700/0 to-blue-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Gwen Moore</h4>
        <p class="text-sm">D-WI-4 (since 2005)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/ScottFitzgerald.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Scott Fitzgerald</h4>
        <p class="text-sm">R-WI-5 (since 2021)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/GlennGrothman.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Glenn Grothman</h4>
        <p class="text-sm">R-WI-6 (since 2015)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/TomTiffany.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Tom Tiffany</h4>
        <p class="text-sm">R-WI-7 (since 2020)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/TonyWied.jpg)] bg-cover bg-center text-white h-48"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-xl font-bold">Tony Wied</h4>
        <p class="text-sm">R-WI-8 (since 2024)</p>
      </div>
    </div>
  </div>
</div>
