<div class="p-4 rounded-lg bg-white w-full text-black">
  <h3 class="font-bold text-3xl mb-2">Wisconsin's Senators</h3>

  <div class="grid grid-cols-2 gap-2 h-98">
    <div
      class="rounded-lg bg-[url(/headshots/RonJohnson.jpg)] bg-cover bg-center text-white h-full"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-red-700/0 to-red-700/75 p-3 content-end"
      >
        <h4 class="text-3xl font-bold">Ron Johnson</h4>
        <p class="text-xl">R-WI (since 2011)</p>
      </div>
    </div>
    <div
      class="rounded-lg bg-[url(/headshots/TammyBaldwin.jpg)] bg-cover bg-center text-white h-full"
    >
      <div
        class="rounded-lg h-full w-full bg-gradient-to-b from-blue-700/0 to-blue-700/75 p-3 content-end"
      >
        <h4 class="text-3xl font-bold">Tammy Baldwin</h4>
        <p class="text-xl">D-WI (since 2013)</p>
      </div>
    </div>
  </div>
</div>
